# Определение загруженности парковок в малых городах

In [116]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [117]:
dataset = pd.read_csv('dataset.csv')

In [118]:
dataset.head()

  SystemCodeNumber  Capacity  Occupancy          LastUpdated
0      BHMBCCMKT01       577         61  2016-10-04 07:59:42
1      BHMBCCMKT01       577         64  2016-10-04 08:25:42
2      BHMBCCMKT01       577         80  2016-10-04 08:59:42
3      BHMBCCMKT01       577        107  2016-10-04 09:32:46
4      BHMBCCMKT01       577        150  2016-10-04 09:59:48

In [119]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35717 entries, 0 to 35716
Data columns (total 4 columns):
SystemCodeNumber    35717 non-null object
Capacity            35717 non-null int64
Occupancy           35717 non-null int64
LastUpdated         35717 non-null object
dtypes: int64(2), object(2)
memory usage: 1.1+ MB

In [120]:
dataset = dataset.drop('SystemCodeNumber', axis = 1)
dataset.head()

   Capacity  Occupancy          LastUpdated
0       577         61  2016-10-04 07:59:42
1       577         64  2016-10-04 08:25:42
2       577         80  2016-10-04 08:59:42
3       577        107  2016-10-04 09:32:46
4       577        150  2016-10-04 09:59:48

In [121]:
date = pd.to_datetime(dataset['LastUpdated'], dayfirst=True)
dataset['LastUpdated'] = date

dataset.head()

   Capacity  Occupancy         LastUpdated
0       577         61 2016-10-04 07:59:42
1       577         64 2016-10-04 08:25:42
2       577         80 2016-10-04 08:59:42
3       577        107 2016-10-04 09:32:46
4       577        150 2016-10-04 09:59:48

In [122]:
dataset["LastUpdated"] = pd.to_numeric(dataset["LastUpdated"])
dataset["LastUpdated"] /= 100000000000

dataset["LastUpdated"].head()

0    14755679.82
1    14755695.42
2    14755715.82
3    14755735.66
4    14755751.88
Name: LastUpdated, dtype: float64

In [130]:
x = dataset.dropna().drop(['Occupancy'], axis = 1)
y = dataset['Occupancy']

In [131]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [132]:
clf = LinearRegression()
clf.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [133]:
prediction = clf.predict(x_test)

In [134]:
prediction

array([301.12655287, 535.0490596 , 296.25252522, ..., 256.12305357,
       609.26901078, 159.06711323])

In [128]:
r2_score = r2_score(y_test, prediction)
r2_score

0.6096294918383012

In [129]:
clf.predict([[311, 14755751]])

array([104.62266084])