In [69]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [70]:
dataset = pd.read_csv('dataset.csv')

In [71]:
dataset.head()

  SystemCodeNumber  Capacity  Occupancy          LastUpdated
0      BHMBCCMKT01       577         61  2016-10-04 07:59:42
1      BHMBCCMKT01       577         64  2016-10-04 08:25:42
2      BHMBCCMKT01       577         80  2016-10-04 08:59:42
3      BHMBCCMKT01       577        107  2016-10-04 09:32:46
4      BHMBCCMKT01       577        150  2016-10-04 09:59:48

In [72]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35717 entries, 0 to 35716
Data columns (total 4 columns):
SystemCodeNumber    35717 non-null object
Capacity            35717 non-null int64
Occupancy           35717 non-null int64
LastUpdated         35717 non-null object
dtypes: int64(2), object(2)
memory usage: 1.1+ MB

In [73]:
dataset = dataset.drop('SystemCodeNumber', axis = 1)
dataset.head()

   Capacity  Occupancy          LastUpdated
0       577         61  2016-10-04 07:59:42
1       577         64  2016-10-04 08:25:42
2       577         80  2016-10-04 08:59:42
3       577        107  2016-10-04 09:32:46
4       577        150  2016-10-04 09:59:48

In [74]:
date = pd.to_datetime(dataset['LastUpdated'], dayfirst=True)
dataset['LastUpdated'] = date

dataset.head()

   Capacity  Occupancy         LastUpdated
0       577         61 2016-10-04 07:59:42
1       577         64 2016-10-04 08:25:42
2       577         80 2016-10-04 08:59:42
3       577        107 2016-10-04 09:32:46
4       577        150 2016-10-04 09:59:48

In [75]:
dataset["LastUpdated"] = pd.to_numeric(dataset["LastUpdated"])
dataset["LastUpdated"] /= 100000000000

dataset["LastUpdated"].head()

0    14755679.82
1    14755695.42
2    14755715.82
3    14755735.66
4    14755751.88
Name: LastUpdated, dtype: float64

In [76]:
x = dataset.dropna().drop(['Occupancy'], axis = 1)
y = dataset['Occupancy']

In [77]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [78]:
clf = LinearRegression()
clf.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [79]:
prediction = clf.predict(x_test)

In [80]:
prediction

array([ 827.29662596,  437.02294364,  504.60188301, ...,  503.2287067 ,
       1448.593584  , 2010.50130331])

In [81]:
r2_score = r2_score(y_test, prediction)
r2_score

0.6019903221761809

In [82]:
clf.predict([[311, 14755751]])

array([103.98486742])

In [83]:
from sklearn.tree import DecisionTreeRegressor

In [84]:
regr = DecisionTreeRegressor()
regr.fit(x_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [85]:
prediction_DT = regr.predict(x_test)

In [86]:
print(prediction_DT)

[1161.  308.  559. ...  744. 1684. 2574.]

In [87]:
r2_score_DT = r2_score(y_test, prediction_DT)
r2_score_DT

TypeError: 'numpy.float64' object is not callable