In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv('dataset.csv')

In [3]:
dataset.head()

  SystemCodeNumber  Capacity  Occupancy          LastUpdated
0      BHMBCCMKT01       577         61  2016-10-04 07:59:42
1      BHMBCCMKT01       577         64  2016-10-04 08:25:42
2      BHMBCCMKT01       577         80  2016-10-04 08:59:42
3      BHMBCCMKT01       577        107  2016-10-04 09:32:46
4      BHMBCCMKT01       577        150  2016-10-04 09:59:48

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35717 entries, 0 to 35716
Data columns (total 4 columns):
SystemCodeNumber    35717 non-null object
Capacity            35717 non-null int64
Occupancy           35717 non-null int64
LastUpdated         35717 non-null object
dtypes: int64(2), object(2)
memory usage: 1.1+ MB

In [20]:
dataset = dataset.drop('SystemCodeNumber', axis = 1)
dataset.head()

   Capacity  Occupancy         LastUpdated
0       577         61 2016-10-04 07:59:42
1       577         64 2016-10-04 08:25:42
2       577         80 2016-10-04 08:59:42
3       577        107 2016-10-04 09:32:46
4       577        150 2016-10-04 09:59:48

In [21]:
date = pd.to_datetime(dataset['LastUpdated'])

In [24]:
dataset["LastUpdated"] = pd.to_numeric(dataset["LastUpdated"])
dataset["LastUpdated"] /= 100000000000

dataset["LastUpdated"].head()

0    14755679.82
1    14755695.42
2    14755715.82
3    14755735.66
4    14755751.88
Name: LastUpdated, dtype: float64

In [28]:
x = dataset['Capacity', 'LastUpdated']
x

TypeError: 'DataFrame' object is not callable

In [26]:
from sklearn.linear_model import LinearRegression

In [ ]:
clf = LinearRegression()
clf.fit